@charset 'utf-8';
/* Index Style Sheet */


img.register {
  display: block;
  margin: auto; }

  #post_speakers img.register { margin: 52px auto 80px; }

  #secure_spot img.register { margin: 52px auto 80px;  }
  
  #faq img.register { margin: 52px auto 80px;  }

.horiz_row.red {
  width: 100%;
  height: 6px;
  margin: 20px auto;
  background: transparent no-repeat url('../images/horiz-row-red.png') center top; }

.where_when {
  width: 803px;
  height: auto;
  margin: auto;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #c6c6c6; }

  .where_when > div {
    width: 398px;
	height: 216px;
	font-size: 44px;
	color: #cd0000;
    display: inline-block; }

	.where_when > div.when {
	  border-right: 1px solid #c6c6c6; }

	.where_when > div span {
	  font-size: 94px;
	  color: #696969;
	  text-transform: uppercase; }

  .sub_where_when {
  width: 803px; margin: auto;
    text-align: center;
	font-size: 20px;
	padding: 22px 0px;
	font-weight: bold;
	font-style: italic;
	border-bottom: 1px solid #c6c6c6;  }

/* Opening Content */
#opening_content {
  width: 100%;
  height: 409px;
  margin-bottom: 20px;
  background-color: #dee1e3; }

  #opening_content h1 {
    font-size: 39px;
	text-align: center;
	padding-top: 20px; }

	#opening_content h1 span {
	  font-weight: bold;
	  font-style: italic;
	  color: #de0000; }

  #opening_content p.sub {
    font-size: 25px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 32px;
	font-style: italic; }

  #opening_content img.headline {
    display: block;
	margin: auto;
	padding-top: 25px;
	margin-bottom: 25px;  }


/* Urgent Message */
#urgent_message {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  margin-top: 75px; }

  #urgent_message p {
    font-size: 16px;
	margin: auto 50px 20px; }

  #urgent_message .headline {
    font-size: 43px;
	margin: auto;
	margin-top: 22px;
	text-align: center;
	margin-bottom: 24px; }

  #urgent_message img {
    margin-top: -20px;
    margin-left: 50px; }

  #urgent_message img.mike {
    float: right;
	margin: auto;
	margin-right: -17px; }

/* Student Getting */
#student_getting {
  width: 100%;
  height: auto;
  margin-top: 45px;
  padding-bottom: 55px; }

  #student_getting p.check {
    min-width: 24px;
	min-height: 37px;
	padding-top: 17px;
	padding-left: 30px;
	margin: auto 70px 7px 50px;
	background: transparent no-repeat url('../images/check.png') top left; }

  #student_getting .headline {
	font-size: 45px;
	text-align: center;
	margin-bottom: 60px; }

#speaker_container {
  width: 100%;
  height: auto; }

  #speaker_container > p.headline {
    font-size: 45px;
    text-align: center;
	margin-top: 65px;
	margin-bottom: 50px; }

  #speaker_container article {
    width: 100%;
	height: auto;
	clear: both; }

	#speaker_container .speaker_name {
	  width: 100%;
	  height: 143px;
	  position: relative;
	  z-index: 3;
	  font-size: 70px;
	  text-transform: uppercase;
	  line-height: 130px;
	  text-align: center;
	  color: #b8b8b8;
	  background: transparent no-repeat url('../images/speaker-name-bg.png') top left; }

	#speaker_container div.speaker_sub {
	  width: 100%;
	  height: 276px;
	  margin-top: -10px;
	  background: repeat-y url('../images/sub-headline-repeatbg.jpg') center top; }

	  #speaker_container div.speaker_sub p {
	    text-align: center;
		padding-top: 47px;
		font-size: 35px; }

		#speaker_container div.speaker_sub p.three { padding-top: 67px; }

	#speaker_container div.speaker_body {
	  width: 100%;
	  height: auto;
	  min-height: 350px;
	  padding-bottom: 40px;
	  padding-top: 42px; }

	  #speaker_container div.speaker_body img {
	    float: right;
		margin-left: 30px;
		margin-right: 50px; }

	  #speaker_container div.speaker_body p {
	    margin-left: 60px;
		margin-right: 60px;
		margin-bottom: 15px; }

	  #speaker_container div.speaker_body ul {
	    margin-left: 60px;
		margin-right: 60px;
		margin-bottom: 15px; }

		#speaker_container div.speaker_body ul li {
		  margin-bottom: 15px;
		  margin-left: 15px;
		  list-style-type: disc; }


  /* Post Speakers */
  #post_speakers {
    width: 100%;
	height: auto; }

	#post_speakers p.head {
	  font-size: 45px;
	  text-align: center; }

	#post_speakers p.sub {
	  font-size: 43px;
	  margin-top: 33px;
	  text-align: center; }


/* Closing Content */
#closing_content {
  width: 100%;
  height: auto;
  margin-bottom: 65px; }

  #closing_content p {
    font-size: 16px;
	margin: auto 50px 20px; }

  #closing_content .head {
    font-size: 45px;
	text-align: center;
	margin: auto;
	margin-bottom: 45px;
	margin-top: 80px; }


/* Secure Spot */
#secure_spot {
  width: 100%;
  height: auto;
  margin-top: 25px; }

  #secure_spot .headline {
    font-size: 45px;
	text-align: center; }

  #secure_spot .sub {
    font-size: 25px;
	margin-top: 20px;
	text-align: center; }


/* Schedule */
#schedule {
  width: 100%;
  height: auto;
  padding-top: 35px;
  padding-bottom: 25px;
}

  #schedule p.headline {
  	font-size: 45px;
  	text-align: center;
  	margin-bottom: 45px;
  }

#schedule table {
  width: 410px;
  margin: auto;
  margin-bottom: 10px; }

#schedule td {
  border-right: 1px solid #CCC;
  text-align: center;
  padding-bottom: 20px;
  font-size: 21px; }

#schedule span {
  display: block;
  margin-bottom: 40px;
  text-align: center; }

#schedule p {
  font-size: 17px;
  margin: auto 50px 12px; }

/* Hotel */
#hotel {
  width: 100%;
  height: auto;
  padding-top: 35px;
  padding-bottom: 60px;
}

  #hotel iframe {
    display: block;
	margin: auto;
	border: 0;
	border: 1px solid #CCCCCC;
	border-radius: 10px;  }

  #hotel img {
    float: right;
	border: 0;
	border-radius: 10px;
	margin-left: 30px;
	margin-right: 50px; }

  #hotel p.headline {
  	font-size: 45px;
  	text-align: center;
  	margin-bottom: 45px;
  }

#hotel p {
  font-size: 17px;
  margin: auto 50px 12px; }

  #hotel p#address {
	text-align: center;
    margin: 95px 50px 70px 0px; }

    #hotel p span#hotelname {
      font-size: 20px;
	  font-weight: bold; }

/* FAQ */
#faq {
  width: 100%;
  height: auto;
  padding-top: 35px;
}

  #faq p.headline {
  	font-size: 45px;
  	text-align: center;
  	margin-bottom: 45px;
  }

  #faq p.answer {
  	margin: auto 50px 12px;
  }

  #faq p.question {
  	font-size: 18px;
  	font-weight: bold;
  	margin: 25px 50px 6px;
  }


#the_guarantee {
  width: 600px;
  height: auto;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #102335; }

  #the_guarantee img.guar {
    float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px; }

  #the_guarantee p {
    width: 300px;
	float: left;
	color: #FFF;
	font-size: 18px;
	margin-top: 35px; }




