@import url(//fonts.googleapis.com/css?family=Open+Sans:100,300,700,800);

/*---------------- FONT (OPEN SANS) IMPORT FROM GOOGLE FONTS ---------------*/


.bullet {
  width: 85px;
  height: 85px;
  vertical-align: middle;
  display: inline-block; }

  .bullet.red { background: #FFF no-repeat url('../images/bullet.png') top left !important; width: 40px; height: 40px; }
  .bullet.black { background: transparent no-repeat url('../images/logo1.png') top left; }
  .bullet.white { background: transparent no-repeat url('../images/logo2.png') top left; }


/*----------------------------------------------------------------------------------------
										COMMON STYLES
-----------------------------------------------------------------------------------------*/


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: #444;
	line-height: 1.8;
}

a,
a:hover {
	color: #444;
	text-decoration: none;
}

h1 {
	font-size: 80px;
	font-weight: 800;
}

h2 {
	font-size: 50px;
	font-weight: 800;
	 
}

h3 {
	font-size: 40px;
	font-weight: 100;
}

h4 {
	font-size: 30px;
	font-weight: bold;
    color:#6f6f6f !important;
}
h5 {
	font-size: 24px;
	font-weight: 500;
}
h1,
h2,
h3,
h4 {
	color: #222;
	text-transform: uppercase;
}

ul {
	margin: 0;
	padding: 0px;
	list-style: none;
}


a{color:#5173bd;}
a:hover,a:focus{color:#5173bd;}
i {
    font-size: 40px;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.icon-screen-smartphone {
    font-size: 45px;
}
.w{
    color:#fff !important;
}
.breath{margin:50px auto;}

.highlight{background:#efefef;margin-top:40px;}
 /* preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../images/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}
 
 
 /* MASTHEAD SECTION */ 
 

.masthead{
	position:relative;
	padding:80px 15px;
	color:#FFF;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,.1);
	background-color:#6883cc;
	background-image:url("../images/sw2.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	}

.masthead .container{
	animation:fadein 2s;
	-moz-animation:fadein 2s;
	-webkit-animation:fadein 2s;
	-o-animation:fadein 2s;
	}

 .masthead1{
	position:relative;
	padding:80px 15px;
	color:#FFF;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,.1);
	background-color:#6883cc;
	background-image:url("../images/app/bg.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	}

.masthead1 .container{
	animation:fadein 2s;
	-moz-animation:fadein 2s;
	-webkit-animation:fadein 2s;
	-o-animation:fadein 2s;
	}

 
 /* General button style (reset) */
 .btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
.btn-warning.btn-outline {
    color: #f1c40f;
    
}
.btn-large {
	font-size:18px;
	padding:20px 50px;
	margin:5px 10px;
}
.btn-success {
	background-color: #2ecc71;
	background-image:none;
	border: 0;
	-webkit-box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
	box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
	line-height: 1.8;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
	background-color: #29c36a;
	color:#FFF;
	border: 0;
	-webkit-box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
	box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
}
.btn-primary {
	background-color: #2db6d8;
	background-image:none;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: #209ab8!important;
	color:#FFF!important;
}
 
 
.btn,.btn-lg,.input-lg{border-radius:3px;}

 

.btn-lg,.btn-group-lg>.btn{
	padding:10px 28px;
	}



/*==============================================
floating
==============================================
*/

.floating {
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

/*
/*==========  EXPLORE ==============*/

.section-title {
	text-align:center;
	margin-top:60px;
	margin-bottom:30px;
}
.section-title h2 {
	color:#384047;
}
.section-title h4 {
	color:#94a3a8;
}
.heroimg img, .clientlogo img {
	max-width:100%;
}
/*==========  FEATURES ==============*/
.desc {
    background-color: #efefef;
    padding:100px 0;
}
.features {
	margin:25px 0;
}
.thumbnail {
	border:0;
	text-align:center;
}
.thumbnail .caption p {
	color: #94a3a8;
}

#explore li {
  margin-bottom: 15px;
  list-style-type: disc; }

/*Hover Animation*/

.thumbnail img {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.thumbnail:hover img {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}
/*==========  TESTIMONIALS ==============*/

.testblock {
	width:100%;
	height:auto;
	padding:20px;
	background:#fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	position:relative;
	line-height:28px;
	font-size:18px;
}
.testblock:after {
	top: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 15px;
	margin-left: -15px;
}

.red:after {
	top: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fdd9d9;
	border-width: 15px;
	margin-left: -15px;
}
.clientblock {
	margin-top:40px;
	margin-left:10px;
}
.clientblock img {
	float:left;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
.clientblock p {
	padding-left:80px;
	padding-top:13px;
}
.clientblock p strong {
	color:#384047;
	font-size:16px;
}
/* Animation */

.testblock {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.testblock:hover {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}

/*==========  F.A.Q ==============*/
.panel{
	background: #efefef;
	border-radius: 0;
	box-shadow: none;
	border: none;
	margin-bottom: 40px;
	text-align: left;
}

.panel .panel-heading {
	color: #222;
	color: #FFF;
	background: #f1c40f;
	background: #cb2525;
	padding: 25px 25px 25px 75px;
	display: block;
	position: relative;
	font-size: 20px;
	border: 0;
	border-radius: 0;
}
/*
.panel .panel-heading:before {
	content: "-";
	display: block;
	position: absolute;
	left: 30px;
	top: 50+;
	font-size: 2em;

}
*/
.panel .collapsed.panel-heading:before {
  content: '+';
	/*background: url(../images/cross.png) no-repeat center;*/
	margin-top: -17px;
}

.panel .panel-body {
	padding: 30px;
	color: #666;
}





/*==========  PLANS AND PRICING ==============*/

.pricing {
	padding:25px;
	color:#FFF;
	border-style: double;
	border-width: 5px;
	border-color: #fff;
	text-align:center;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
    font-size:22px;
    line-height:28px;
    height:auto;
}
.pricing .planname {
	text-transform:uppercase;
	font-weight:600;
	color: #333;
    padding:0 0 10px;
}
.pricing .price {
	font-size:72px;
    color: #222;
    font-weight:300;
	margin:20px 0 30px;
}
.pricing .billing {
	/*text-transform:uppercase;*/
	color:#333;
	opacity:1;
    padding-bottom:18px;
    text-align:left;
}
.pricing .price .curr {
	display:inline-block;
	color: #222;
	font-size:24px;
	vertical-align:super;
}
.pricing .price .per {
	display:inline-block;
	color: #222;
	font-size:20px;
	vertical-align: baseline;
}
.color1 {
	background-color:#f1c40f;
}
.color2 {
	background-color:white;
}
.color3 {
	background-color:transparent;
}
.color4 {
    background-color: #2ecc71;
}
/* Animation */

.pricing {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.pricing:hover {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}



/*========== FOOTER ==============*/


.footercta {
	padding: 60px 15px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background-color: #6883cc;
	background-image:url("../images/sw2.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.footerlinks {
	text-align:center;
}
.footerlinks a {
	text-align:center;
	padding:0 13px;
	display:inline-block;
	padding-bottom: 15px;
}



/*========== CUSTOM MEDIA QUERIES==============*/


/*MEDIA QUERIES*/

@media (max-width: 991px) {
 h1 {
font-size: 35px;
line-height: 50px;
margin: 15px 0;
}
 h2 {
font-size: 35px;
}
 .testimonials [class*="col-"]:not(:first-child) {
 margin-top: 40px;
}
 .planpricing [class*="col-"]:not(:first-child) {
 margin-top: 30px;
}
 .breath {
margin: 30px auto;
}
}
 @media (max-width: 767px) {
 h1 {
font-size: 30px;
line-height: 40px;
}
 h2 {
font-size: 30px;
line-height: 40px;
}
 .subscribe [class*="col-"]:not(:first-child) {
 margin-top: 30px;
}
 .masthead {
padding: 40px 15px;
}

}
 @media (max-width: 480px) {
	 /*Media Queries for smaller devices*/
	 .masthead {
	background-attachment: scroll;



}

}
 
 
.mine {
    max-width:85%;
    margin:0 auto;
    padding:0 0 50px;
    text-align:left;
}

.mine2 {
    max-width:100%;
    margin:0 auto;
    padding:0 0 50px;
    text-align:left;
}

.container-gray {
    padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
    background:#efefef;
}

.smaller {
    font-size:65px !important;
    max-width:1000px;
    margin:0 auto;
}

.border-bottom {
    border-bottom:3px solid black;
    padding: 0 0 30px;
}

.max-width {
    max-width: 85%;
    margin:0 auto;
}

.x {
    text-transform:none !important;
    font-size:40px !important;
    max-width:1000px;
    margin:0 auto;
    line-height:48px;
}

.s {
    font-size: 28px !important;
}

.z {
    font-size:27px !important;
    padding-top:20px;
    text-transform:none !important;
    font-weight:300 !important;
}

.space {
    padding-top:20px !important;
}

.space-more {
    padding-top:40px;
}

.margin-top {
    margin:40px 0 60px;
}

.text-align {
    text-align:center;
    margin-bottom:30px;
}

.margin-bottom {
    margin:0 0 40px !important;
}

.red {
    background-color:#fdd9d9 !important;
}

.padding {
    padding:70px 0 50px !important;
}

.special-bg {
    background-color: #6883cc;
	background-image:url("../images/sw2.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.border-bottom-w {
    border-bottom:3px solid #fff;
    padding: 0 0 30px;
}



.padding-less {
    padding:40px 0;
}

.padding-zero {
    padding:20px 0 50px !important;
}

.big {
    font-size:25px;
    line-height:33px;
}

.y {
    font-size:60px;
}

.p {
    font-size:250px;
    color:#cb2525;
    width:378px;
    height:214px;
    margin:0 auto;
    padding:20px 70px 0;
}

.redder {
    color:#cb2525;
}

.top-bottom {
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:5px;
    margin:5px 0;
}

.border-mike {
    border:3px solid #e89798;
}

.m {
   p 
}

.m {
    
}

.m {
    
}

.m {
    
}

.m {
    
}

.m {
    
}

.m {
    
}

.m {

}

.m {
    
}

.m {
    
}



.t {
    font-size:19px !important;
    color:#cb2525;
}

iframe#testimonial_video {
  width: 100%;
  height: 400px;
  display: block;
  margin: auto;
  max-width: 600px; }

#top_part {
  width: 100%;
  height: auto;
  color: #fedadb;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  font-size: 150%;
  padding: 15px 0px;
  text-align: center;
  background: #cb2527; }

  #top_part_container {
    text-align: center;
  }

    #top_part_container > div {
       display: inline-block;
       vertical-align: middle;
       margin: auto 20px;
    }

    #close_top {
      cursor: pointer;
      vertical-align: top;
      width: 40px;
      height: 40px;
      color: #cb2527;
      border-radius: 50%;
      background: #FEDADB;
    }
      #close_top i {display: none;}

#top {
  margin-top: 20px;
}

@media(max-width: 700px)
{
  #top_part {
     font-size: 100%;
  }

  .fa {
     font-size: 25px;
  }

  #top_part_container > div#close_top {
    line-height: 30px;
    width: 30px;
    height: 30px; }

  #price_txt {
    width: 200px;
  }

    #top_part_container > div {
       margin: auto 0px;
    }

  #top {
     margin-top: 105px; }


}

.above_250 #top_part { display: none !important; }
.above_250 #top { margin-top: 0px !important; }

/* TOP BAR WITH NAVIGATION */

header .color-overlay {
    min-height: 900px;
}

header .full-screen {
    width: 100%;
    height: 100px;
}

.sticky-navigation {
  min-height: 60px;
  background: #FFFFFF;
  border: none;
  padding: 0 !important;
  margin-bottom: 0 !important;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}

.sticky-navigation .navbar-header img {
  max-height: 50px;
  -webkit-backface-visibility: hidden;
}

.sticky-navigation .main-navigation .current a {
  color: #000000 !important;
  position: relative;
  outline: none;
}

.sticky-navigation .main-navigation li a {
  line-height: 30px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}

.sticky-navigation .main-navigation li a:hover {
    color: #000000;
}

.navbar-inverse .navbar-toggle {
border-color: #313131;
background: #313131;
}

header .only-logo .navbar {
    background: none;
    padding: 90px 60px 0px;
}

header .only-logo .navbar .navbar-header {
    /*float: none;*/
    height: auto;
    width: 100%;
}

.tickets {
    background-color:#e69839;
    color: #fff;
    display: block;
    /*padding: 15px 15px;*/
    position: relative;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.tickets a {
    color: #ffffff !important;
    font-weight: bold !important;
}

.container > .center {
    text-align: center;
}

.col-md-6 img {
    max-width: 90%;
    margin-bottom: 35px;
    border: 8px solid #ffffff;
}

 @media (max-width: 767px) {

 .sticky-navigation {
  background: none repeat scroll 0 0 #ffffff;
  border: medium none;
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  margin-bottom: 0 !important;
  min-height: 60px;
  padding: 0 !important;

}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        max-width: 90%;
        margin: 0px;
        margin: auto;

}


.navbar-brand {
  float: left;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  padding: 0px;
    margin-left: 15px;
}

.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  float: right;
  margin-top: 12px;
  padding: 9px 10px;
  line-height: 60px;
}

.navbar-inverse .navbar-nav {
  line-height: normal;
  padding-left: 10px;
  text-align: center;
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-inverse .navbar-nav > li {
  display: inline-block;
  margin-bottom: 0;
}

ul, ol {
  padding-left: 0 !important;
}

*:before, *:after {
  box-sizing: border-box;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
}

.col-md-6 img {
    max-width: 99%;
}

}